.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px; }

.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

header {
  background-color: #030303;
  grid-area: header;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around; }
  header h1 {
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: font-size 25px;
    font-weight: 600;
    color: color #f2a600; }
  header div a img {
    width: 150px; }
  header div nav ul li {
    list-style: none; }
    header div nav ul li a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
  header div nav ul ul {
    display: none; }
  @media only screen and (min-width: 768px) {
    header #lista-nav {
      display: inline-block;
      list-style: none;
      display: flex;
      flex-direction: row; }
    header #div-nav {
      display: flex;
      justify-content: center;
      align-self: flex-end; }
    header .margin-nav {
      margin-left: 20px; }
    header .titles-medium {
      font-size: 25px; }
    header .titles-small {
      font-size: 15px; }
    header .fontsize-text {
      font-size: 15px; } }
  @media only screen and (min-width: 1024px) {
    header #luar-logo {
      width: 150px; }
    header #boton-inicio {
      background-color: #000000; }
    header #boton-productos {
      background-color: black; }
    header #boton-enlaces {
      background-color: black; }
    header #boton-recetas {
      background-color: black; }
    header #boton-contacto {
      background-color: black; }
    header #boton-inicio:hover {
      transition: 0.3s;
      background-color: #f2a600; }
    header #boton-productos:hover {
      transition: 0.3s;
      background-color: #f2a600; }
    header #boton-enlaces:hover {
      transition: 0.3s;
      background-color: #f2a600; }
    header #boton-recetas:hover {
      transition: 0.3s;
      background-color: #f2a600; }
    header #boton-contacto:hover {
      transition: 0.3s;
      background-color: #f2a600; }
    header #lista-nav li {
      display: inline;
      width: 40%;
      position: relative;
      font-size: 18px; }
    header #lista-nav #boton-productos ul {
      position: absolute;
      display: none; }
      header #lista-nav #boton-productos ul li {
        display: inline;
        font-size: 14px;
        padding: 5px; }
      header #lista-nav #boton-productos ul li:hover ul {
        display: block;
        width: 250px;
        background-color: #f2a600; }
        header #lista-nav #boton-productos ul li:hover ul li {
          display: inline; }
    header #lista-nav a {
      display: block; } }

.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

#grilla-principal {
  display: grid;
  grid-template-areas: "header"  "main"  "footer";
  grid-template-rows: 200px  auto  auto;
  grid-template-columns: 100%; }
  #grilla-principal main {
    grid-area: main; }
  #grilla-principal #seccion-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden; }
    #grilla-principal #seccion-1 img {
      height: 250px; }
  #grilla-principal #about {
    padding-bottom: 12px;
    background-color: #f2a600; }
    #grilla-principal #about h2 {
      color: #fff; }
  #grilla-principal #imagenes-emprendimiento img {
    width: 100%;
    height: 250px; }
  #grilla-principal #info-emprendimiento {
    color: white; }
  #grilla-principal #titulo-recomendados {
    padding: 15px; }
  #grilla-principal #cards-recomendados {
    padding-left: 10px;
    padding-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    #grilla-principal #imagenes-emprendimiento img {
      width: 75%;
      height: 400px; } }
  @media only screen and (min-width: 1024px) {
    #grilla-principal #imagenes-emprendimiento img {
      width: 100%;
      height: 300px;
      padding-top: 10px; } }

.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

footer {
  grid-area: footer;
  background-image: linear-gradient(to right, black, grey); }
  footer #title-showroom {
    display: inline-block;
    padding-left: 10px; }
  footer #logo-facebook {
    display: inline-block;
    transform: translate(50px, -5px);
    padding: 3px; }
  footer #logo-instagram {
    display: inline-block;
    transform: translate(75px, -5px);
    padding: 3px; }
  footer #logo-whatsapp {
    display: inline-block;
    transform: translate(100px, -5px);
    padding: 3px; }
  footer #mapa {
    padding: 10px; }
  @media only screen and (min-width: 768px) {
    footer #logo-facebook {
      display: inline-block;
      transform: translate(550px, -15px);
      padding: 3px; }
    footer #logo-instagram {
      display: inline-block;
      transform: translate(550px, -15px);
      padding: 3px; }
    footer #logo-whatsapp {
      display: inline-block;
      transform: translate(550px, -15px);
      padding: 3px; } }
  @media only screen and (min-width: 1024px) {
    footer #logo-facebook {
      display: inline-block;
      transform: translate(800px, -15px);
      padding: 3px; }
    footer #logo-instagram {
      display: inline-block;
      transform: translate(800px, -15px);
      padding: 3px; }
    footer #logo-whatsapp {
      display: inline-block;
      transform: translate(800px, -15px);
      padding: 3px; }
    footer #mapa {
      padding-left: 10px; } }

.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

#cards-productos {
  padding-left: 10px;
  padding-bottom: 20px; }

#title-productos {
  padding: 10px; }

.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

#contacto {
  padding: 10px; }

.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

#cards-enlaces {
  padding-left: 10px;
  padding-bottom: 20px; }

#title-enlaces {
  padding: 10px; }

/*#enlaces{
    display: grid;
    grid-template-rows: repeat(6, 200px);grid-template-columns: 100%;
    grid-template-areas: 
    "imagenes-enlaces"
    "imagenes-enlaces"
    "imagenes-enlaces"
    "imagenes-enlaces"
    "imagenes-enlaces"
    "imagenes-enlaces";
    margin: 5px;  

    #imagenes-enlaces{
        grid-area: imagenes-enlaces;
    }
    
    #imagenes-enlaces{
        img{
            width: 100%;
            height: 200px;
            padding-top: 3px;   
        }
    }   

    @media only screen and (min-width: 768px) {
 
        grid-template-rows: repeat(6, 400px); 
    
        #imagenes-enlaces{
            img{
                width: 100%;
                height: 400px;
                padding-top: 3px;        
            }
        }
    }
}*/
.texto-1 {
  font-size: 15px; }

.texto-2 {
  font-size: 30px; }

.texto-3 {
  font-size: 45px; }

.titles-medium {
  font-size: 20px; }

.titles-small {
  font-size: 15px; }

.fontsize-text {
  font-size: 15px; }

.color-main {
  color: chocolate; }

.color-secondary {
  color: #ffffff; }

.color-terciary {
  color: #f2a600; }

.color-section {
  background-color: #f2a600; }

.titular-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #f2a600; }

.uppercase {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .margin-nav {
    margin-left: 20px; }
  .titles-medium {
    font-size: 25px; }
  .titles-small {
    font-size: 15px; }
  .fontsize-text {
    font-size: 15px; } }

@media only screen and (min-width: 1024px) {
  .titular-main {
    font-size: 50px;
    font-weight: 900;
    display: inline; }
  .margin-nav {
    margin-left: 30px; }
  .titles-medium {
    font-size: 35px; }
  .titles-small {
    font-size: 25px; }
  .fontsize-text {
    font-size: 20px; } }

#cards-recetas {
  padding-left: 10px;
  padding-bottom: 20px; }

#title-recetas {
  padding: 10px; }
