@import "variables";

main{
    #azucar-saborizada{
        #cards-azucar{
            padding-left: 10px;
            padding-bottom: 20px;
        }
        
        #title-azucar{
            padding: 10px;
        } 
    }   
}