@import "variables";

footer{
    grid-area: footer;
    background-image: linear-gradient(to right, black , grey);

    #title-showroom{
        display: inline-block;
        padding-left: 10px;
    }
    
    #logo-facebook{
        display: inline-block;
        transform: translate(50px , -5px);
        padding: 3px;
    }
    
    #logo-instagram{
        display: inline-block;
        transform: translate(75px , -5px);
        padding: 3px;
    }
    
    #logo-whatsapp{
        display: inline-block;
        transform: translate(100px , -5px);
        padding: 3px;
    }

    #mapa{
        padding: 10px;
    }

    #texto-mapa{
        display: none;
    }

    @media only screen and (min-width: 768px){
        #logo-facebook{
            display: inline-block;
            transform: translate(550px , -15px);
            padding: 3px;
        }
    
        #logo-instagram{
            display: inline-block;
            transform: translate(550px , -15px);
            padding: 3px;
        }

        #logo-whatsapp{
            display: inline-block;
            transform: translate(550px , -15px);
            padding: 3px;
        }
    }

    @media only screen and (min-width: 1024px) {

        #logo-facebook{
            display: inline-block;
            transform: translate(325px , -15px);
            padding: 3px;
        }
    
        #logo-instagram{
            display: inline-block;
            transform: translate(325px , -15px);
            padding: 3px;
        }

        #logo-whatsapp{
            display: inline-block;
            transform: translate(325px , -15px);
            padding: 3px;
        }

        #mapa{
           padding-left: 10px;
           height: 250px;
           width: 450px;
           iframe{
            height: 350px;
            width: 450px;
           }
        }

        #texto-mapa{
            display:inline-block;
            width: 500px;
            transform: translate(475px , -225px);
        }
    
    }

    @media only screen and (min-width: 1440px) {

        #logo-facebook{
            display: inline-block;
            transform: translate(750px , -15px);
            padding: 3px;
        }
    
        #logo-instagram{
            display: inline-block;
            transform: translate(750px , -15px);
            padding: 3px;
        }

        #logo-whatsapp{
            display: inline-block;
            transform: translate(750px , -15px);
            padding: 3px;
        }
    
    }

}
