@import "variables";


#grilla-principal{
    display: grid;
    grid-template-areas: 
    "header" 
    "main" 
    "footer" ;
    grid-template-rows: 200px  auto  auto;
    grid-template-columns: 100%;

    main{
        grid-area: main;
    }

    #seccion-1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        img{
            height: 250px;
        }
    }

    #about{
        background-color: #f2a600;
        h2{
            color:#fff;
        }
    }

    #imagenes-emprendimiento {
            img{
                width: 100%;
                height: 250px;  
            }
    }
    
    #info-emprendimiento{
            color: rgb(255, 255, 255);     
    }
    
    #productos-recomendados{
        display: grid;
        grid-template-rows: 50px, repeat(6, 100px);
        grid-template-columns: 25% 75%;
        grid-template-areas:
        "titulo-recomendados titulo-recomendados" 
        "imagenes-recomendados texto-recomendados"
        "imagenes-recomendados texto-recomendados"
        "imagenes-recomendados texto-recomendados"
        "imagenes-recomendados texto-recomendados"
        "imagenes-recomendados texto-recomendados"
        "imagenes-recomendados texto-recomendados";
        margin: 5px;

        #titulo-recomendados{
            grid-area: titulo-recomendados;
        }

        #imagenes-recomendados{
            grid-area: imagenes-recomendados;
            img{
                width: 100%;
                height: 100px;
                padding-top: 3px;  
            }          
        }

        #texto-recomendados{
            grid-area: texto-recomendados;
            p{
                margin-block-start: 0px;
                margin-block-end: 0px;
                height: 100px;
                padding-left: 3px;  
            } 
        }
        
    }

    @media only screen and (min-width: 768px) {
        #imagenes-emprendimiento img{
            width: 75%;
            height: 400px;
        } 
    }

    @media only screen and (min-width: 1024px) {

        #imagenes-emprendimiento {
            img{
                width: 100%;
                height: 300px;
                padding-top: 10px;
            }
        }
        
        #imagenes-recomendados {
            img{
                width: 200px;
                height: 100px;
            }
        }
        
    }
   
}