@import "variables";

main{
    #sal-marina{
        #cards-sal{
            padding-left: 10px;
            padding-bottom: 20px;
        }
        
        #title-sal{
            padding: 10px;
        } 
    }   
}