@import "variables";

main{
    #te-hebras{
        #cards-te{
            padding-left: 10px;
            padding-bottom: 20px;
        }
        
        #title-te{
            padding: 10px;
        } 
    }   
}