@import "variables";

main{
    #salsas-deshidratadas{
        #cards-salsas{
            padding-left: 10px;
            padding-bottom: 20px;
        }
        
        #title-salsas{
            padding: 10px;
        } 
    }   
}